dialog {
  position: absolute;
  top: 10%;
  left: 10%;
  max-width: 70%;
}
dialog label {
  display: block;
}

dialog nav {
  font-size: small;
}

dialog nav a {
  display: inline-block;
  background-color: #ddd;
}

dialog h1 {
  font-size: larger;
  font-weight: bold;
}

#gamearea {
  background-color: #efe;
  min-width: 80%;
  min-height: 60%;
  /*ddheight: 500px;
  */
}

.static {
  cursor: not-allowed;
}
.draggable, .draggable-group {
  cursor: move; /* fallback if grab is unsupported */
  cursor: grab;
}
.draggable:active, .draggable-group:active {
  cursor: grabbing;
}

.template {
  display: none;
}

