html {
  height: 100%;
}

body {
  height: 100%;
  justify-content: center;
  flex-direction: column;
  padding-left: 0px;
  padding-right: 0px;
}

body .btn {
  background-color: #f0f0f0;
  color: black;
}

body .btn:hover {
  background-color: #ffffcf;
}

body .btn:focus {
  background-color: #cbc26d;
}

body button[accessKey]::first-letter {
  text-decoration: underline;
}

.nav-wrapper {
  background-color: #0c0c0c;
  opacity: 85%;
  display: flex;
  justify-content: space-between;
}

.modal h1 {
  font-size: larger;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 1rem;
}

.modal section {
  margin-bottom: 3rem;
  border-left: solid 1px gray;
  padding-left: 24px;
}

dialog {
  position: absolute;
  top: 10%;
  left: 10%;
  max-width: 70%;
}
dialog label {
  display: block;
}

dialog nav {
  font-size: small;
}

dialog nav a {
  display: inline-block;
  background-color: #ddd;
}

dialog h1 {
  font-size: larger;
  font-weight: bold;
}

.static {
  cursor: not-allowed;
}
.draggable, .draggable-group {
  cursor: move; /* fallback if grab is unsupported */
  cursor: grab;
}
.draggable:active, .draggable-group:active {
  cursor: grabbing;
}

.template {
  display: none;
}

#buttongroup_add {
  display: inline-block;
}

#buttongroup_menu {
  display: inline-block;
  margin-left: 20px;
}

@media screen and (max-width: 1200px) {
  #buttongroup_menu {
    float: right;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    display: inline-block;
  }

  body {
    padding-left: 0px;
    padding-right: 0px;
  }
}
