body {
  padding-left: 10%;
  padding-right: 10%;
}

body .btn {
  background-color: #fff59d;
  color: black;
}

body .btn:hover {
  background-color: #ffffcf;
}

body .btn:focus {
  background-color: #cbc26d;
}

.nav-wrapper {
  background-color: #cbc26d;
}

dialog {
  position: absolute;
  top: 10%;
  left: 10%;
  max-width: 70%;
}
dialog label {
  display: block;
}

dialog nav {
  font-size: small;
}

dialog nav a {
  display: inline-block;
  background-color: #ddd;
}

dialog h1 {
  font-size: larger;
  font-weight: bold;
}

#object_actions_header {
  font-size: larger;
  margin-left: 10px;
  margin-right: 40px;
}

#gamearea {
  background-color: #efe;
  min-width: 80%;
  min-height: 60%;
  /*ddheight: 500px;
  */
}

.static {
  cursor: not-allowed;
}
.draggable, .draggable-group {
  cursor: move; /* fallback if grab is unsupported */
  cursor: grab;
}
.draggable:active, .draggable-group:active {
  cursor: grabbing;
}

.template {
  display: none;
}

#buttongroup_add {
  display: inline-block;
}

#buttongroup_menu {
  display: inline-block;
  margin-left: 20px;
}

@media screen and (max-width: 1200px) {
  #buttongroup_menu {
    float: right;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    display: inline-block;
  }

  body {
  padding-left: 0px;
  padding-right: 0px;
  }
}
